/* Start BannerDetail */

.image {
  position: relative;
  width: 100%; /* for IE 6 */
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.4);
  filter: brightness(50%);
  min-height: 340px;
}

.detailbanner-content {
  position: absolute;
  /* top: 17vw;
  left: 10vw; */
  top: 33vh;
  left: 5vw;
  width: 100%;
  color: white;
  font-family: Roboto;
  letter-spacing: -1px;
  padding: 10px;
  margin: 20px 0;
}

.detailbanner-content > h1 {
  font-size: 8vh;
}

.rating {
  display: flex;
  align-items: center;
}

.rating > p {
  font-size: 5.5vh;
  font-weight: bold;
  align-self: baseline;
  padding-left: 2vh;
  padding-top: 3vh;
  color:rgb(220, 220, 220)
}

.content-description {
  width: 65%;
  align-content: center;
  font-size: 2vw;
}

.trilerBtn,
.watchlistBtn {
  margin-right: 10px;
  color: #fff;
  font-weight: bold;
}

/* End BannerDetail */

/* Start DetailOverview */

.overview {
  margin-bottom: 7vh;
}

a {
  text-decoration: none !important;
}

.category-list a {
  margin: 1vw 2vw 0 1vw;
  padding: 10px 20px;
  font-family: Roboto;
  font-size: 30px;
  line-height: 42px;
  color: #cdcdcd;
}

.category-list > a:visited {
  cursor: pointer;
  color: rgb(33, 37, 41) !important;
}

.category-list > a:hover {
  cursor: pointer;
  border-radius: 20px;
  background-color: #474391;
  color: #fff !important;
}

.category-list > a.active {
  border-radius: 20px;
  background-color: #474391;
  color: #fff !important;
}

.movieinfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.movieinfo-list {
  list-style: none;
  padding: 0 0 0 0px;
}

.movie-card {
  justify-content: center;
}

.movie-card:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(71, 67, 145, 1); */
}

/* End DetailOverview */

/* Start DetailCharacters */

.characters {
  margin-bottom: 7vh;
}

/* End DetailCharacters */

/* Start DetailReview */

.review {
  margin-bottom: 7vh;
}

.review-box {
  margin-top: 50px;
  display: flex;
}

.review-pic {
  width: 150px;
  padding: 20px;
  margin: 0px 20px 0; 
}

.rating {
  margin: 20px 0;
}

/* End DetailReview */