
/* start main */

.category {
  margin: 56px 0;
}

.category h1 {
  font-family: Roboto;
  font-size: 48px;
  line-height: 56px;
  font-weight: 900;
  color: #8C8989;
  padding-bottom: 20px;
}

.homecategory-list  {
  margin-left: 0 !important;
}

.homecategory-list a {
  padding: 10px 20px;
}

.homecategory-list a {
  padding: 10px 20px;
  font-family: Roboto;
  font-size: 36px;
  line-height: 42px;
  color: #CDCDCD;;
}

.homecategory-list > a:hover {
  cursor: pointer;
  text-decoration: none;
  border-radius: 20px;
  background-color: #474391;
  color: #fff !important;
}

.homecategory-list > a.active {
  border-radius: 20px;
  background-color: #474391;
  color: #fff !important;
}


.home-col {
  margin-bottom: 20px;
}

.movie-card {
  justify-content: center;
}

.movie-card:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(71, 67, 145, 1); */
}

.pagination {
  display: flex;
  justify-content: center;
}

/* end main */

/* start navbar */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900,300,500");

.main-logo {
  border-radius: 15px;
  max-width: 80px;
  margin-right: 10px;
  margin-top: 5px;
}

.navbar {
  background-image: url('../components/Assets/navbar.png');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  gap: 1em; 
  height: fit-content; 
}

.search {
  align-self: center;
  margin-top: 7px;
  border-radius: 7px;
  width: 20em;
  height: 35px;
  margin-right: 50px ;
  margin-left: 2.3em;
  font-family: Roboco;
  border: 1px solid
}

.title {
  font-size: 2.5em;
  font-weight: 700;
  padding-top: 5px;
  padding-top: 10px;
}

.sign-in {
  font-size: 2em;
  font-weight: 600;
  background-color: transparent;
  border: transparent;
  color: white;
}
  .dropdown-basic{
    background-color: transparent;
    border: transparent;
}
  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background-color: transparent;
    border-color: transparent;
}

  .btn-primary:hover{
    background-color: transparent;
  }

  .dropdown-basic::after{
    display: none;
  }

.sign-in:hover {
  background-color: var(--torch-purple);
  width: 120px;
  border-radius: 10px;
  color: white;  
  align-content: center;
  justify-content: center;
  text-align: center;
}

/* end navbar */

/* start search page */
.search-content{
  display: inline-block;
  padding: 15px;
  margin: 50px 0;
  position: relative;
}

.image-search{
  width: 200px;
  height: 300px;
}
.search-content:hover{
  background-color: var(--torch-purple);
  border-radius: 5px;
  
}

.image-title {
  color: black ;
  text-align: center;  
  font-size: 15px;
  width: 200px;
  padding-top: 10px;
}

.image-date{
  color: black ;
  text-align: center;  
  font-size: small;
  font-weight: 400;
  width: 200px;
}

.card-body{
  padding: 0;
}

.not-found{
  text-align: center;
  align-content: center;
  font-size: 100px;
  font-weight: 800;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 70px 0;
}
/* end search page */

/* start footer */

.footer {
  position: relative;
  max-height: fit-content;
  width: 100%;
  background-color: #000;
  color: white;
  padding: 1.5vh 1vh .5vh 1vh;
}

.brand-logo-title {
  display: flex;
  flex-direction: row;
}

.brand-title {
  align-self: center;
  padding: 1.5vh 1vh 1.5vh 1vh;
}

.brand-detail {
  padding: 1.5vh 3.5vh 1vh .5vh;
}

.about {
  margin-bottom: 1.5vh;
}

.download-icon{
  display: flex;
  padding-top: 1.5vh;
  padding-bottom: 3vh;
}
.download-icon img {
  padding-right: 1.5vh;
}

.socmed-icon {
  display: flex;
  padding-top: 1.5vh;
  padding-bottom: 3vh;
}
.socmed-icon img {
  padding-right: 1.5vh;
}

.line1 {
  width: 100%;
  margin-top: .5vh;
  margin-bottom: 1vh;
}

/* font */
.roboto-light-white-18px {
  color: var(--white);
  font-family: var(--font-family-roboto-light);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}
.roboto-light-white-20px {
  color: var(--white);
  font-family: var(--font-family-roboto-light);
  font-size: var(--font-size-20px);
  font-style: normal;
  font-weight: 300;
}
.roboto-medium-white-20px {
  color: var(--white);
  font-family: var(--font-family-roboto-medium);
  font-size: var(--font-size-20px);
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-white-36px {
  color: var(--white);
  font-family: var(--font-family-roboto-medium);
  font-size: var(--font-size-36px);
  font-style: normal;
  font-weight: 500;
}

.roboto-regular-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-roboto-regular);
  font-size: var(--font-size-20px);
  font-style: normal;
  font-weight: 400;
}
:root {
  --font-family-roboto-light: "Roboto-Light", Helvetica;
  --font-family-roboto-medium: "Roboto-Medium", Helvetica;
  --font-family-roboto-regular: "Roboto-Regular", Helvetica;
  --font-size-20px: 20px;
  --font-size-36px: 36px;
  --font-size-m: 18px;
  --torch-purple: #474391;
  --white: rgba(255, 255, 255, 1);
}

/* end footer */

/* start profile */

.tag-profile {
  min-height: 60px;
  padding-top: 50px;
  font-weight: 500;
  font-size: 22px;
  margin-left: 6em;
}

.modal-image-update {
  display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 7.5em;
    padding: 10px;
}

.button, input, optgroup, select, textarea {
  margin-left: 5em;
  margin-top: 1em;

}



/* end profile */